{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="{%static '/js/loadXmlDoc.js'%}" type="text/javascript" charset="utf-8"></script>
        <script src="{%static '/js/jilianxuanze.js'%}" type="text/javascript" charset="utf-8"></script>
        <script src="{%static '/js/pagetop2015_0827.js'%}" type="text/javascript" charset="utf-8"></script>
        <link href="{%static '/css/header_150803.css'%}" rel="stylesheet" type="text/css">
        <link href="{%static '/css/comment.min.css'%}" rel="stylesheet" type="text/css">
        <link href="{%static '/css/footer_150526.css'%}" rel="stylesheet" type="text/css">
        <link href="{%static '/css/layer.css'%}" rel="stylesheet" type="text/css">
        <link href="{%static '/css/newcategory_book.css'%}" rel="stylesheet" type="text/css">
        <link href="{%static '/css/win_login20150728.css'%}" rel="stylesheet" type="text/css">
        <script>
        var userAgent = navigator.userAgent.toLowerCase();
        var deviceUA = ["iphone", "android", "mobile", "ipod", "mqqbrowser", "midp", "ucweb", "micromessenger"];
        var preURL=window.location.href.split('.html')[0];
        var productId=preURL.substring(preURL.lastIndexOf('/')+1)
        for (var i = 0; i < deviceUA.length; i++) {
        var regExp = new RegExp(deviceUA[i], "i");
        if (userAgent.match(regExp) == deviceUA[i]) {
        window.location.href=window.location.origin+'/touch/products/'+productId+'.html'+window.location.href.split('.html')[1]
        }
        }
        </script>
        <meta charset="UTF-8">
        <title>{{book.bookName}}-Peppa书城</title>
        <meta name="keywords" content="{{book.bookName}},{{book.author}},{{book.publisher}},{{bookTy}}">
        <meta name="description" content="★describe">
        <meta name="mobile-agent" content="format=html5;url=http://e.dangdang.com/touch/products/1900301848.html">
        <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="jquery" src="{%static '/js/jquery.min.js'%}"></script>
        <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="loginWindow" src="{%static '/js/LoginWindow.js'%}"></script>
    </head>
    <body>
        {%csrf_token%}
        <div class="nTalk-xpush-container" style="margin: 0px;
            padding: 0px;
            border: none;
            float: none;
            max-width: none;
            max-height: none;
            clear: none;
            left: auto;
            top: auto;
            text-align: left;
            box-sizing: content-box;
            color: rgb(0, 0, 0);
            background-color: transparent;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            font-stretch: normal;
            font-size: 12px;
            line-height: 160%;
            font-family: Arial, &quot;Microsoft YaHei&quot;;
            width: 300px;
            height: 100px;
            position: fixed;
            right: 0px;
            bottom: 0px;
            display: none;">
            <ul class="nTalk-xpush-message-wrapper" style="padding: 0px;
                border: none;
                float: none;
                width: auto;
                height: auto;
                max-height: none;
                clear: none;
                position: static;
                left: auto;
                top: auto;
                right: auto;
                bottom: auto;
                text-align: left;
                box-sizing: content-box;
                color: rgb(0, 0, 0);
                background-color: transparent;
                font-style: normal;
                font-variant: normal;
                font-weight: normal;
                font-stretch: normal;
                font-size: 12px;
                line-height: 160%;
                font-family: Arial, &quot;Microsoft YaHei&quot;;
                margin: 30px 100px 0px 0px;
                max-width: 230px;">
                <li class="nTalk-xpush-message" style="margin: 0px;
                    border: none;
                    width: auto;
                    height: auto;
                    max-width: none;
                    max-height: none;
                    clear: none;
                    left: auto;
                    top: auto;
                    text-align: left;
                    box-sizing: content-box;
                    font-style: normal;
                    font-variant: normal;
                    font-stretch: normal;
                    line-height: 160%;
                    color: white;
                    min-width: 60px;
                    position: absolute;
                    bottom: 45px;
                    right: 100px;
                    font-family: 微软雅黑;
                    font-size: 14px;
                    background: rgb(55, 134, 235);
                    border-radius: 5px;
                    display: inline;
                    float: right;
                    padding: 7px 2px 7px 6px;
                    font-weight: 100;
                    word-break: break-all;
                    list-style: none;">
                </li>
                <div class="nTalk-xpush-message-angel" style="padding: 0px;
                    border-right: none;
                    border-image: initial;
                    float: none;
                    max-width: none;
                    max-height: none;
                    clear: none;
                    right: auto;
                    bottom: auto;
                    text-align: left;
                    box-sizing: content-box;
                    color: rgb(0, 0, 0);
                    background-color: transparent;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: normal;
                    font-stretch: normal;
                    font-size: 12px;
                    line-height: 160%;
                    font-family: Arial, &quot;Microsoft YaHei&quot;;
                    display: block;
                    position: absolute;
                    left: 170px;
                    top: 2px;
                    margin: 30px;
                    height: 0px;
                    width: 0px;
                    border-left: 5px solid rgb(55, 134, 235);
                    border-top: 5px solid rgba(0, 0, 0, 0);
                    border-bottom: 5px solid rgba(0, 0, 0, 0);">
                </div>
            </ul>
            <span class="nTalk-xpush-message-count" style="margin: 0px;
                padding: 0px;
                border: none;
                float: none;
                max-width: none;
                max-height: none;
                clear: none;
                left: auto;
                bottom: auto;
                box-sizing: content-box;
                background-color: transparent;
                font-style: normal;
                font-variant: normal;
                font-weight: normal;
                font-stretch: normal;
                font-family: Arial, &quot;Microsoft YaHei&quot;;
                position: absolute;
                color: rgb(76, 151, 234);
                top: 8px;
                right: 4px;
                width: 22px;
                height: 22px;
                text-align: center;
                line-height: 22px;
                font-size: 18px;
                z-index: 100000001;">
            </span>
            <img src="http://nt-download.imip.dangdang.com/js/b2b/siteid/respack_nt6.93/images/messageCountBkg.png" class="nTalk-xpush-message-count-bkg" style="margin: 0px;
            padding: 0px;
            border: none;
            width: auto;
            height: auto;
            max-width: none;
            max-height: none;
            clear: none;
            right: auto;
            bottom: auto;
            text-align: left;
            box-sizing: content-box;
            color: rgb(0, 0, 0);
            background-color: transparent;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            font-stretch: normal;
            font-size: 0px;
            line-height: 0px;
            font-family: Arial, &quot;Microsoft YaHei&quot;;
            float: right;
            position: absolute;
            left: 210px;
            top: 5px;
            z-index: 100000000;
            cursor: pointer;">
        </div>
        <div id="nTalk_post_hiddenElement" style="left: -10px;
            top: -10px;
            visibility: hidden;
            display: none;
            width: 1px;
            height: 1px;">
        </div>
        <script>
        var prodCurrItem = 0;
        var isDestAreaEmpty = 0;
        var isWidth = 1210 < screen.width;
        !isWidth && (document.body.className='narrow_page');
        var requestUrl = window.location.href;
        var point = '';
        if (requestUrl.indexOf("point") != -1){
        point = requestUrl.substring(requestUrl.indexOf("point")+6, requestUrl.lastIndexOf("point")+5);
        }
        window.onunload = function (){window.scrollTo(0,0);}
        var imipUrl = "{%static '/js/imip.js'%}";
        var couponJs="{%static '/js/autoActivity.js'%}"
        var localUrl = 'http://' + window.location.host + '/index.php';
        var baseUrl = 'http://product.dangdang.com/';
        var reg = /\.dangdang\.com/;
        if (!window.localUrl.match(reg)) {
        var script = document.createElement("script");
        script.src = "{%static '/js/initCookie.js'%}";
        $("head").append(script);
        }
        </script>
        <script src="{%static '/js/item.js'%}" language="javaScript"></script>
        <script type="text/javascript"></script>
        <link href="{%static '/css/header_150803.css'%}" rel="stylesheet" type="text/css">
        <script charset="gb2312" type="text/javascript">var width = 1; narrow = 0;</script>
        <script src="{%static '/js/pagetop2015_0827.js'%}" charset="gb2312" type="text/javascript"></script>
        <script src="{%static '/js/dd.menu-aim.js'%}" charset="gb2312" type="text/javascript"></script>
        <link href="{%static '/css/comment.min.css'%}" rel="stylesheet" type="text/css">
        <script charset="gb2312" type="text/javascript">var width = 1; narrow = 0;</script>
        <div id="hd">
            <div id="tools">
                <div class="tools">
                    <div class="ddnewhead_operate" dd_name="顶链接">
                        <ul class="ddnewhead_operate_nav">
                            <li class="my_dd">
                                <a target="_blank" href="/userMessage/" id="a_myddchannel">我的Peppa</a>
                            </li>
                            <li class="hover ">
                                <a target="_blank" href="#" id="a_bzzxchannel">客户服务</a>
                            </li>
                        </ul>
                        <div class="new_head_znx" id="znx_content" style="display:none;">
                        </div>
                        <div class="ddnewhead_welcome" display="none;">
                            <span id="nickname">欢迎光临Peppa，请
                                <a dd_name="登录" href="javascript:PageTopLogIn();" target="_self" rel="nofollow" class="login_link">登录</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header_end"></div>
            <div style="position:relative;" class="logo_line_out">
                <div class="logo_line" dd_name="搜索框">
                    <div class="logo">
                        <img src="" usemap="#logo_link">
                        <map name="logo_link" id="logo_link" dd_name="logo区">
                        <area shape="rect" coords="0,18,200,93" href="http://www.dangdang.com/" title="当当" onfocus="this.blur();">
                            <area shape="rect" coords="200,18,320,93" href="http://www.dangdang.com/" title="" target="_blank" onfocus="this.blur();">
                                </map>
                            </div>
                            <div class="search">
                                <form action="/findpage/" target="_blank" name="searchform" id="form_search_new" onsubmit="return searchsubmit();" method="GET">
                                    <input class="text gray" name="key" id="key_S" autocomplete="off" onclick="key_onclick(event);" onfocus="key_onfocus(event);" onblur="key_onblur();" onbeforepaste="onpaste_search();" style="
                                    width: 505px;
                                    " type="text">
                                    
                                    <input id="search_btn" dd_name="搜索按钮" style="display:none" type="submit">
                                    <input class="button" dd_name="搜索按钮" onclick="javascript:document.getElementById('search_btn').click();" type="button">
                                </form>
                            </div>
                            <div class="search_bottom">
                                <div class="search_hot">
                                    热搜:
                                    <a href="#" name="hotword" target="_blank">郭敬明</a>
                                    <a href="#" name="hotword" target="_blank">
                                    少年读史记</a>
                                    <a href="#" name="hotword" target="_blank">流量池</a>
                                    <a href="#" name="hotword" target="_blank">王阳明</a>
                                </div>
                                
                            </div>
                            <div id="suggest_key" class="suggest_key" style="display:none;"></div>
                            <div class="ddnew_cart">
                                <a href="javascript:AddToShoppingCart(0);" name="购物车" dd_name="购物车">
                                    <i class="icon_card"></i>
                                    购物车
                                    <b id="cart_items_count">0</b>
                                </a>
                            </div>
                            <div class="ddnew_order">
                                <a target="_blank" href="http://myhome.dangdang.com/myOrder" name="我的订单" dd_name="我的订单" rel="nofollow">
                                    我的订单
                                    <b id="unpaid_num" style="color:#ff2832;font:bold 12px Arial;"></b>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="nav_top" dd_name="一级导航条">
                        <div class="nav_top">
                            <ul>
                                <li class="all">
                                    <a href="http://category.dangdang.com/?ref=www-0-C" id="a_category" name="cate" class="sort_button" onmouseover="showCategory('a_category','__ddnav_sort','//static.dangdang.com/js/header2012/categorydata_new.js?20180115');" onmouseout="closeCategory('__ddnav_sort');" dd_name="全部商品分类" target="_blank">全部商品分类</a>
                                </li>
                                <li>
                                    <a name="nav1" href="http://v.dangdang.com/" target="_blank">小说</a>
                                </li>
                                <li>
                                    <a name="nav1" href="http://book.dangdang.com/" target="_blank">童书</a>
                                </li>
                                <li>
                                    <a name="nav1" href="http://e.dangdang.com/index_page.html" target="_blank">科技</a>
                                </li>
                                <li>
                                    <a name="nav1" href="http://e.dangdang.com/new_original_index_page.html" target="_blank">文艺</a>
                                </li>
                                <li>
                                    <a name="nav1" href="http://fashion.dangdang.com/" target="_blank">教育</a>
                                </li>
                                <li>
                                    <a name="nav1" href="http://fashion.dangdang.com/sports" target="_blank">社科</a>
                                </li>
                                <li>
                                    <a name="nav1" href="http://baobao.dangdang.com/" target="_blank">生活</a>
                                </li>
                                <li>
                                    <a name="nav1" href="http://living.dangdang.com/ " target="_blank">网络文学</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="12808" class="con search_wrap clearfix" name="tit1">
                    <div id="12810" class="col search_left" name="16029" dd_name="商品区域">
                        <div class ddt-area="451680112839" name="titmid">
                            <div class="con shoplist" name="tit2">
                                <div id="search_nature_rg" dd_name="普通商品区域">
                                    <div style="padding-left: 400px;">
                                        <h1 style="padding-bottom: 10px;">抱歉，没有找到与<span style="color: red;">“{{key}}”</span>相关的商品！</h1>
                                        <ul>
                                            <li>1、看看输入的文字是否有误</li>
                                            <li>2、请调整关键字，使关键词精准或者简单</li>
                                            <li>3、重新搜索</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </body>
        </html>