{%extends 'refund.html'%}
{%load static%}
{%block active%}退货单详情{%endblock%}
{%block form%}
                                {%csrf_token%}
                                    <div class="order-top">
                                        <div class="th th-item">
                                            <td class="td-inner">商品</td>
                                        </div>
                                        <div class="th th-orderprice th-price">
                                            <td class="td-inner">单价</td>
                                        </div>
                                        <div class="th th-changeprice th-price">
                                            <td class="td-inner">退款金额</td>
                                        </div>
                                        <div class="th th-status th-moneystatus">
                                            <td class="td-inner">购买数量</td>
                                        </div>
                                        <div class="th th-change th-changebuttom">
                                            <td class="td-inner">退货数量</td>
                                        </div>
                                    </div>

                                    <div class="order-main">
                                        <div class="order-list">
                                            <div class="order-title">
                                                <div class="dd-num">退货单编号：<a href="javascript:;">{{reject.id}}</a></div>
                                                <span>申请时间：{{reject.rejectTime}}</span>
                                                <!--    <em>店铺：小桔灯</em>-->
                                            </div>
                                            {%for record in bookList%}
                                            <div class="order-content">
                                                <div class="order-left">
                                                    <ul class="item-list">
                                                        <li class="td td-item">
                                                            <div class="item-pic">
                                                                <a href="#" class="J_MakePoint">
                                                                    <img src="{%static '/'%}{{record.book.bookPhoto}}" class="itempic J_ItemImg">
                                                                </a>
                                                            </div>
                                                            <div class="item-info">
                                                                <div class="item-basic-info">
                                                                    <a href="#">
                                                                        <p>{{record.book.bookName}}</p>
                                                                        <p class="info-little">作者：{{record.book.author}}
                                                                            <br/>出版社：{{record.book.publisher}} </p>
                                                                        
                                                                        
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <ul class="td-changeorder">
                                                            <li class="td td-orderprice">
                                                                <div class="item-orderprice">
                                                                    <span>交易金额：</span>{{record.bookPrice}}
                                                                </div>
                                                            </li>
                                                            <li class="td td-changeprice">
                                                                <div class="item-changeprice">
                                                                    <span>退款金额：</span>{{record.bookPrice}}
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div class="clear"></div>
                                                    </ul>

                                                    <div class="change move-right">
                                                        <li class="td td-moneystatus td-status">
                                                            <div class="item-status">
                                                                <p class="Mystatus">{{record.bookAmount}}</p>

                                                            </div>
                                                        </li>
                                                    </div>
                                                    <li class="td td-change td-changebutton">
                                                        <!-- <a href="record.html"> -->
                                                        <!-- <div class="am-btn am-btn-danger anniu"> -->
                                                            {{record.bookRefund}}
                                                        <!-- </a> -->                   
                                                    </li>

                                                </div>
                                            </div>
                                            {%endfor%}
                                        </div>

                                    </div>
                                        <div class="line">
                                            <p>退款总额：</p>
                                            <p>{{reject.rejectAmount}}</p>
                                        </div>
                                        <div class="line">
                                            <p>退货原因：</p>
                                            <p>{{reject.rejectReason}}</p>
                                        </div>
                                        <div>
                                            <label for="picture">上传图片：</label>
                                            <span id="file_warp">
                                            <img src="{%static '/'%}{{img.img_url}}" class="img2">
                                            </span>
                                        </div>
                                        <center>
                                    </center>
                              
                                    {%endblock%}