{%extends 'userMessage.html'%}

{%block title%}
密码修改
{%endblock%}

{%block change%}
        <p style="font-size: 30px;
            font-family: '楷体'; 
            position: relative;
            left: -200px;">密码修改</p>
        <form action="/userPassword/", method="post", onsubmit="return check()">
        {%csrf_token%}
            <span style="display: inline-block; width: 120px;height: 45px;">请输入旧密码</span><input type="password" name="oldPassword" class="changePassword"><p style="color: tomato; margin: 0; position: relative; left: 200px;">{{errorMessage}}</p><br/><br/>
            <span style="display: inline-block; width: 120px;height: 70px;">请输入新密码</span><input type="password" name="newPassword"  id ="newPassword" class="changePassword"><br/><br/>
            <span style="display: inline-block; width: 120px;height: 50px;"> 请输确认密码</span><input type="password" name="rePassword" id="rePassword" class="changePassword"><br/><br/>
            <div id="innerButton">
                <input type="submit" value="修改" >
                <a href="/userMessage/"><input type="button" value="返回"></a>
            </div>
        </form>
        <script type="text/javascript">
            function check(){

                var password = document.getElementById("newPassword").value;
                var password1 = document.getElementById("rePassword").value;
                if(password != password1){
                    alert('密码与确认密码不一致')
                }

                var reg = /^.*(?=.{6,})(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*? ]).*$/; 

                if (!reg.test(password)){
                    alert("密码强度太低，最少6位，包括至少1个大写字母，1个小写字母，1个数字，1个特殊字符 ");
                    return false;
                }

            }
        </script>
{%endblock%}