{% load static %}
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script charset="utf-8" src="/static/css/v.js"></script>
    <script type="text/javascript" async="" src="/static/css/adv"></script>
    <script type="text/javascript" async="" src="/static/css/presadv"></script>
    <script async="" src="/static/css/a.js"></script>
    <script
            type="text/javascript"
            charset="utf-8"
            async=""
            data-requirecontext="_"
            data-requiremodule="main"
            src="/static/css/main.js">
    </script>
    <script
            type="text/javascript"
            charset="utf-8"
            async=""
            data-requirecontext="_"
            data-requiremodule="jquery"
            src="/static/css/jquery-1.11.0.min.js">
    </script>
    <script
            type="text/javascript"
            charset="utf-8"
            async=""
            data-requirecontext="_"
            data-requiremodule="dialog"
            src="/static/css/dialog.js">
    </script>
    <script
            type="text/javascript"
            charset="utf-8"
            async=""
            data-requirecontext="_"
            data-requiremodule="back"
            src="/static/css/back.js">
    </script>
    <script
            type="text/javascript"
            charset="utf-8"
            async=""
            data-requirecontext="_"
            data-requiremodule="base64"
            src="/static/css/jquery.base64.js">
    </script>
    <script
            type="text/javascript"
            charset="utf-8"
            async=""
            data-requirecontext="_"
            data-requiremodule="evaluate"
            src="/static/css/evaluate.js">
    </script>
    <script
            type="text/javascript"
            charset="utf-8"
            async=""
            data-requirecontext="_"
            data-requiremodule="ajax"
            src="/static/css/ajax.js">
    </script>
    <script
            type="text/javascript"
            charset="utf-8"
            async=""
            data-requirecontext="_"
            data-requiremodule="topindex"
            src="/static/css/topindex.js">
    </script>
    <script
            type="text/javascript"
            charset="utf-8"
            async=""
            data-requirecontext="_"
            data-requiremodule="bootstrap"
            src="/static/css/bootstrap.min.js">
    </script>
    <script
            type="text/javascript"
            charset="utf-8"
            async="" data-requirecontext="_"
            data-requiremodule="lazyload"
            src="/static/css/jquery.lazyload.min.js">
    </script>
    <script
            type="text/javascript"
            charset="utf-8"
            async=""
            data-requirecontext="_"
            data-requiremodule="sly"
            src="/static/css/sly.min.js">
    </script>
    <script
            type="text/javascript"
            charset="utf-8"
            async=""
            data-requirecontext="_"
            data-requiremodule="rose"
            src="/static/css/rose.js">
    </script>
</head>

<body style="">
    <meta name="description" content="">
    <meta name="author" content="Rose">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-title" content="fruitday">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="keywords" content="Peppa">
    <meta name="description" content="This is my Peppa~">
    <meta name="baidu-site-verification" content="iNWVGekdkk">
    <meta name="360-site-verification" content="ebd66b0a60ba87c234630e8174396941">
    <meta name="sogou_site_verification" content="K3NYdOvGD9">
    <meta name="shenma-site-verification" content="1bca83d3bc299f8adfcd1916e84e43cb_1488530121">

    <title>Hi~ Peppa!</title>
    <link rel="shortcut icon" href="http://www.bing.com">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet" type="text/css">
        <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <script async="" src="/static/css/gtm.js"></script><script src="/static/css/hm.js"></script><script type="text/javascript" src="./天天果园-水果网购首选品牌,只为一份极致的新鲜!_files/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/css/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="/static/css/cart.js"></script>



    <link href="/static/css/usercenter-order.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/static/css/gtm-public.js"></script>



<!-- top -->
<div class="top-con">

    </div>

<!-- 头部开始 -->
<section class="p-common-header">
    <div class="topnav">
        <div class="content clearfix">
        <span class="pull-left">
          <div>
              <a href = '/index/'>
                  <img border = '0' src = '/static/css/Peppa.png' alt = 'home' width = '32' height = '32'>
              </a>
          </div>
        </span>

            <ul class="pull-right list-inline">
                <li>
                    <span class="pull-left">您好，</span>
                    <a href="/userMessage/" class="link-gray pull-left" target="_blank">{{userName}}</a>
                    <a href="/login/" class="link-gray pull-left">退出</a>

                    <div class="p-common-topsubnav pull-left">
                        <a href="/userMessage/">My Peppa</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
        <div class="content">
        <nav class="navbar ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand logo" href="/index/">
                        <img border = '0' src = '/static/css/Peppa.png' alt = 'home' width = '165' height = '99'>
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav" id="navcon">
                        <li class="">
                            <a href="/index/">
                                首页
                                <span>Home</span>
                            </a> <em></em>
                        </li>
                        <li class="">
                            <a href="http://www.bing.com" target="_blank">
                                小说
                                <span>Novel</span>
                            </a> <em></em>
                        </li>
                        <li class="">
                            <a href="http://www.bing.com" target="_blank">
                                散文
                                <span>Prose</span>
                            </a>
                            <em></em>
                        </li>
                        <li class="">
                            <a href="http://www.fruitday.com/prolist/index/43" target="_blank">
                                传记
                                <span>Biography</span>
                            </a>
                            <em></em>
                        </li>
                            <input id="search-keyword" type="search" placeholder="请输入关键字">
                            <input type="hidden" id="last_keyword">
                            <button id="search-button">
                                <i class="iconfont">
                                    <img border = '0' src = '/static/css/search.png' alt = 'search' width = '20' height = '20'>
                                </i>
                            </button>
                            <div class="hotsearch">
                                热门：
                                <a href="/book/131/" target="_blank">围城</a>
                                <a href="/book/154/" target="_blank">嫌疑人X的现身</a>
                                <a href="/book/129/" target="_blank">追风筝的人</a>
                            </div>
                            <ul class="subsearch"></ul>
                        </div>
                        <div class="p-common-navtoggle" id="navtoggle">
                            <i class="iconfont navtogglebg"></i>
                            <ul class="navtoggle-icon list-unstyled">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        </div>

</section>
    <section class="p-component-usercenter clearfix">
        <div class="sidebar s_ani">
            <span class="arrow" id="arr"></span>
            <ul class="list-unstyled">
                <li>
                    <a href="/userMessage/">我的信息</a>
                </li>
                <li>
                    <a href="/order/all/" class="cur">我的订单</a>
                    <a href="/opinion/">我的评论</a>
                    <a href="/cart/">我的购物车</a>
                    <a href="/userAddress/">收货地址</a>
                </li>
                <li>
                    <a href="/userMessage/">基本资料</a>
                    <a href="/userPassword/">密码修改</a>
                </li>
            </ul>
        </div>


    {% block center %}

        <div class="main">
            <div class="tabmenu" id="uctabnav">
                <ul class="list-unstyled">
                    <li><a href="/order/all/" class="link"><span>所有订单</span><i class="interval">|</i></a></li>
                    <li><a href="/order/unpaid/" class="link"><span>待付款</span> <i class="interval">|</i></a></li>
                    <li><a href="/order/unsent/" class="link"><span>待发货</span> <i class="interval">|</i></a></li>
                    <li><a href="/order/unrecieved/" class="link"><span>待收货</span> <i class="interval">|</i></a></li>
                    <li><a href="/order/unjudged/" class="link"><span>待评价</span> <i class="interval">|</i></a></li>
                    <li><a href="/order/done/" class="link"><span>已完成</span> <i class="interval">|</i></a></li>
                    <li><a href="/order/canceled/" class="link"><span>已取消</span> <i class="interval">|</i></a></li>
                </ul>
            </div>


            <div class="order-detail">
                <table>
                    <thead>
                    <tr class="order-nav">
                        <th class="pdl">商品</th>
                        <th class="shop-pocket">实付金额(元)</th>
                        <th class="shop-pocket">下单时间</th>
                        <th class="shop-status">交易状态</th>
                        <th class="shop-operation">操作</th>
                    </tr>
                    </thead>
                    <form id="submit-form" method="post" action="/order/{{target}}/">
                    {%csrf_token%}
                        <thead>
                        {% for odr in infomation %}
                        <tr class="order-inf">
                            <td style="display:none">
                                {{odr.prchID}}
                            </td>
                            <td class="book">
                                {% for book in odr.books %}
                                <a href="/book/{{book.bookID}}">
                                    <img border="0", src="{% static '/'%}{{book.bookPhoto}}", width="60", height="80">
                                </a>
                                {% endfor %}
                            </td>
                            <td class="pymt" align="center">{{odr.amount}}</td>
                            <td class="time" align="center">{{odr.prchTime|date:'Y年n月d日'}}</td>
                            <td class="state" align="center">{{odr.prchState}}</td>
                            {% block button %}
                            <td class="button" align="center">
                                <input type="button" value="{{button}}" class="submit-do" onclick="clickfunc(this);">
                            </td>
                            {% endblock %}
                        </tr>
                        {% endfor %}
                        </thead>
                        <input type="hidden" name="purchaseID">
                    </form>
                </table>
            </div>
        </div>
        {% endblock %}
    </section>

    
    {% block script %}
    <script>
        function clickfunc(btn){
            var tr=btn.parentNode.parentNode;
            var id=tr.getElementsByTagName("td")[0].innerHTML;
            $("input[name='purchaseID'").val(id);
            $("#submit-form").submit();
        }
    </script>
    {% endblock %}
</body>
</html>