@charset "utf-8";
@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg')
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}

.icon-sel:before {
    content: "\e60f"
}

.p-component-banner {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden
}

.p-component-banner .frame {
    width: 100%;
    height: 100%;
    padding: 0
}

.p-component-banner .frame .slidee {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none
}

.p-component-banner .frame .slidee > li {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

.p-component-banner .frame .slidee > li > a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center center;
    text-align: center;
    background-repeat: no-repeat
}

.p-component-banner .frame .slidee > li > a > img {
    position: relative;
    height: 100%
}

.p-component-banner .slidebtn {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 20px;
    margin-bottom: 0;
    left: 0;
    padding-left: 0;
    text-align: center;
    z-index: 10
}

.p-component-banner .slidebtn > li {
    float: none;
    display: inline-block;
    list-style: none;
    width: 18px;
    height: 18px;
    border: 1px solid #64a131;
    border-radius: 50%;
    margin: 0 8px;
    background: rgba(100, 161, 49, 0.1);
    cursor: pointer
}

.p-component-banner .slidebtn > li.active {
    background: #64a131
}

.p-component-order {
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px
}

.p-component-order > h3 {
    color: #555;
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 24px
}

.p-component-order > h3 > .iconfont {
    font-size: 22px;
    margin-right: 5px
}

.p-component-order > h4 {
    padding: 20px 0 0;
    margin: 20px 0 0;
    border-top: 1px solid #ddd;
    font-size: 16px;
    color: #555
}

.p-component-order > h4 > a {
    font-size: 14px;
    color: #5157a6
}

.p-component-order > h4 > a:hover {
    color: #f6ab00
}

.p-component-order .order-item {
    margin: 0 30px
}

.p-component-order .order-item > .order-item-addresslist {
    margin: 10px 0 0
}

.p-component-order .order-item > .order-item-addresslist > li {
    height: 36px;
    margin: 10px 0 0;
    line-height: 36px;
    color: #555
}

.p-component-order .order-item > .order-item-addresslist > li > .tag {
    float: left;
    width: 140px;
    margin-right: 15px;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    cursor: pointer
}

.p-component-order .order-item > .order-item-addresslist > li > .pull-left {
    max-width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.p-component-order .order-item > .order-item-addresslist > li > .operate {
    display: none;
    float: left;
    margin-left: 15px
}

.p-component-order .order-item > .order-item-addresslist > li > .operate > a {
    display: inline-block;
    margin-right: 10px;
    color: #5157a6
}

.p-component-order .order-item > .order-item-addresslist > li > .operate > a:hover {
    color: #f6ab00
}

.p-component-order .order-item > .order-item-addresslist > li.cur > .tag {
    border: 2px solid #64a131;
    *width: 138px;
    background: #f5ffed;
    line-height: 32px
}

.p-component-order .order-item > .order-item-addresslist > li.cur > .operate {
    display: block
}

.p-component-order .order-item > .order-item-addresslist .more {
    display: block;
    width: 140px;
    cursor: pointer
}

.p-component-order .order-item > .order-item-addresslist .more > a {
    display: inline-block;
    vertical-align: middle;
    height: 10px;
    line-height: 10px;
    width: 9px;
    background: url(../images/common/addr.png) no-repeat 0 0
}

.p-component-order .order-item > .order-item-addresslist .more > a.b-u {
    background: url(../images/common/addr.png) no-repeat 0 -10px
}

.p-component-order .order-item > .order-item-paylist {
    margin: 10px 0 0
}

.p-component-order .order-item > .order-item-paylist > li {
    position: relative;
    float: left;
    width: 140px;
    height: 36px;
    *height: 34px;
    margin: 10px 15px 0 0;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    cursor: pointer
}

.p-component-order .order-item > .order-item-paylist > li > .paytips {
    width: 320px;
    display: none;
    position: absolute;
    top: 50px;
    left: -100px;
    min-width: 240px;
    *min-width: 220px;
    padding: 5px 10px;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px
}

.p-component-order .order-item > .order-item-paylist > li > .paytips > .iconfont {
    position: absolute;
    top: -21px;
    left: 50%;
    font-size: 18px;
    color: #f1f1f1
}

.p-component-order .order-item > .order-item-paylist > li > .payways {
    width: 200px;
    margin: 0 -3px;
    left: -30%
}

.p-component-order .order-item > .order-item-paylist > li > .payways > p {
    padding: 0 6px;
    height: 36px;
    line-height: 36px;
    background: #fff;
    border: 1px solid #ddd;
    margin: 5px;
    margin-left: 3px;
    margin-right: 3px
}

.p-component-order .order-item > .order-item-paylist > li > .payways > p.curr {
    border: 2px solid #64a131;
    background: #f5ffed
}

.p-component-order .order-item > .order-item-paylist > li.cur {
    border: 2px solid #64a131;
    background: #f5ffed;
    line-height: 32px;
    *height: 32px;
    *width: 138px
}

.p-component-order .order-item > .order-item-paylist > li.payarrival {
    min-width: 165px;
    width: auto;
    padding: 0 10px
}

.p-component-order .order-item > .order-item-paylist > li.payarrival > span {
    display: none
}

.p-component-order .order-item > .order-item-sendinfo {
    width: 400px;
    margin-top: 25px
}

.p-component-order .order-item > .order-item-sendinfo > h5 {
    margin: 0 0 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    color: #555
}

.p-component-order .order-item > .order-item-sendinfo > h5 > span {
    margin-right: 10px;
    color: #999
}

.p-component-order .order-item > .order-item-sendinfo > h5 > a {
    color: #5157a6
}

.p-component-order .order-item > .order-item-sendinfo > h5 > a:hover {
    color: #f6ab00
}

.p-component-order .order-item > .order-item-sendinfo > h5 > textarea.form-control {
    width: 330px;
    *width: 300px;
    resize: none
}

.p-component-order .order-item > .order-item-sendinfo > h5 > .form-control:focus {
    border-color: #64a131;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 161, 49, 0.6)
}

.p-component-order .order-item > .order-item-sendinfo > h5 > p.pull-left {
    width: 70%
}

.p-component-order .order-item > .order-item-sendinfo > .end {
    border-bottom: none
}

.p-component-order .order-item > .order-item-sendinfo > .end > span {
    margin-top: 9px
}

.p-component-order .order-item > .order-item-cartlist {
    width: 485px;
    margin: 25px 0 0
}

.p-component-order .order-item > .order-item-cartlist > li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd
}

.p-component-order .order-item > .order-item-cartlist > li > a {
    display: block
}

.p-component-order .order-item > .order-item-cartlist > li > a > dl, .p-component-order .order-item > .order-item-cartlist > li > dl {
    height: 80px;
    margin: 0
}

.p-component-order .order-item > .order-item-cartlist > li > a > dl > dt, .p-component-order .order-item > .order-item-cartlist > li > dl > dt {
    float: left;
    width: 80px;
    height: 100%;
    margin-right: 15px
}

.p-component-order .order-item > .order-item-cartlist > li > a > dl > dt > img, .p-component-order .order-item > .order-item-cartlist > li > dl > dt > img {
    width: 100%;
    height: 100%
}

.p-component-order .order-item > .order-item-cartlist > li > a > dl > dd, .p-component-order .order-item > .order-item-cartlist > li > dl > dd {
    float: left;
    width: 390px;
    height: 100%
}

.p-component-order .order-item > .order-item-cartlist > li > a > dl > dd > .protitle, .p-component-order .order-item > .order-item-cartlist > li > dl > dd > .protitle {
    padding-top: 2px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.p-component-order .order-item > .order-item-cartlist > li > a > dl > dd > .proinfo, .p-component-order .order-item > .order-item-cartlist > li > dl > dd > .proinfo {
    padding-top: 5px;
    color: #999
}

.p-component-order .order-item > .order-item-cartlist > li > a > dl > dd > .proinfo > span, .p-component-order .order-item > .order-item-cartlist > li > dl > dd > .proinfo > span {
    display: inline-block;
    margin-left: 40px
}

.p-component-order .order-item > .order-item-cartlist > li > a > dl > dd > .protag, .p-component-order .order-item > .order-item-cartlist > li > dl > dd > .protag {
    display: inline-block;
    min-width: 60px;
    margin-top: 10px;
    padding: 0 10px;
    background: #64a131;
    border-radius: 4px;
    color: #fff;
    line-height: 20px;
    text-align: center
}

.p-component-order .order-item > .order-item-cartlist > li.end {
    padding: 0;
    margin: 0;
    border: none
}

.p-component-order .order-item > .identity-info {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 25px
}

.p-component-order .order-item > .identity-info > li {
    color: #999;
    padding-bottom: 20px;
    overflow: hidden
}

.p-component-order .order-item > .identity-info > li > label {
    font-weight: normal;
    margin-right: 15px;
    width: 60px;
    margin-bottom: 0;
    float: left;
    line-height: 30px
}

.p-component-order .order-item > .identity-info > li > span {
    color: #555;
    float: left;
    line-height: 30px
}

.p-component-order .order-item > .identity-info > li > input {
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
    color: #555;
    padding: 0 10px;
    float: left;
    line-height: 30px
}

.p-component-order .order-item > .identity-info > li > input.hasError {
    border-color: #f53030;
    color: #f53030
}

.p-component-order .order-item > .identity-info > li > input:focus {
    border-color: #64a131;
    outline: none;
    border-width: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.025), 0 0 8px rgba(100, 161, 49, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.025), 0 0 8px rgba(100, 161, 49, 0.6)
}

.p-component-order .order-item > .identity-info > li > span.prompt {
    color: #d9534f;
    padding-left: 18px;
    display: none
}

.p-component-order .order-item.order-item-discount {
    padding-top: 20px
}

.p-component-order .order-item.order-item-discount > p {
    height: 30px;
    line-height: 30px
}

.p-component-order .order-item.order-item-discount > p > .form-control {
    display: inline-block;
    width: 80px;
    margin: 0 6px;
    text-align: right;
    height: 30px;
    *height: 16px;
    color: #64a131
}

.p-component-order .order-item.order-item-discount > p > .form-control:focus {
    border-color: #64a131;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 161, 49, 0.6);
    color: #555
}

.p-component-order .order-item.order-item-discount > p > a {
    display: inline-block;
    margin-left: 50px;
    color: #5157a6
}

.p-component-order .order-item.order-item-discount > p > a:hover {
    color: #f6ab00
}

.p-component-order .order-item-inall {
    padding: 20px 0 0;
    margin: 20px 0 0;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: #555
}

.p-component-order .order-item-inall > p {
    color: #999
}

.p-component-order .order-item-inall > p > span {
    display: inline-block;
    min-width: 70px;
    margin-left: 10px;
    color: #555
}

.p-component-order .order-item-last {
    width: 100%;
    height: 50px;
    *height: 48px;
    margin-top: 25px;
    border: 1px solid #64a131;
    background: #f5ffed;
    line-height: 48px
}

.p-component-order .order-item-last > b {
    margin-left: 10px;
    color: #64a131;
    font-size: 22px
}

.p-component-order .order-item-last > a {
    width: 150px;
    color: #fff;
    background: #64a131;
    margin-left: 30px;
    text-align: center;
    font-size: 20px;
    text-decoration: none
}

.p-component-usercenter > .integral > h5 {
    color: #555;
    padding: 10px 0
}

.p-component-usercenter > .integral > h5 > span {
    font-size: 16px
}

.p-component-usercenter > .integral > table {
    color: #555;
    font-size: 14px
}

.p-component-usercenter > .integral > table th {
    color: #999
}

.p-component-usercenter > .integral .table > thead > tr > th, .p-component-usercenter > .integral .table > tbody > tr > th, .p-component-usercenter > .integral .table > tfoot > tr > th, .p-component-usercenter > .integral .table > thead > tr > td, .p-component-usercenter > .integral .table > tbody > tr > td, .p-component-usercenter > .integral .table > tfoot > tr > td {
    padding: 15px 10px
}

.p-component-usercenter > .balance > h5 {
    color: #555;
    padding: 10px 0
}

.p-component-usercenter > .balance > h5 > span {
    font-size: 16px
}

.p-component-usercenter > .balance > table {
    color: #555;
    font-size: 14px
}

.p-component-usercenter > .balance > table th {
    color: #999
}

.p-component-usercenter > .balance .table > thead > tr > th, .p-component-usercenter > .balance .table > tbody > tr > th, .p-component-usercenter > .balance .table > tfoot > tr > th, .p-component-usercenter > .balance .table > thead > tr > td, .p-component-usercenter > .balance .table > tbody > tr > td, .p-component-usercenter > .balance .table > tfoot > tr > td {
    padding: 15px 10px
}

.p-component-usercenter > .balance > table {
    font-size: 14px
}

.p-component-usercenter > .coupon > table {
    color: #555;
    font-size: 14px;
    table-layout: fixed
}

.p-component-usercenter > .coupon > table th {
    color: #999
}

.p-component-usercenter > .coupon > table .time {
    line-height: 14px;
    text-align: center
}

.p-component-usercenter > .coupon .table > thead > tr > th, .p-component-usercenter > .coupon .table > tbody > tr > th, .p-component-usercenter > .coupon .table > tfoot > tr > th, .p-component-usercenter > .coupon .table > thead > tr > td, .p-component-usercenter > .coupon .table > tbody > tr > td, .p-component-usercenter > .coupon .table > tfoot > tr > td {
    padding: 15px 10px;
    word-break: break-all;
    word-wrap: break-word
}

.p-component-usercenter > .recharge > h5 {
    color: #555;
    padding: 10px 0
}

.p-component-usercenter > .recharge > h5 > span {
    font-size: 16px;
    margin-right: 10px
}

.p-component-usercenter > .recharge > .recharge-con1 {
    padding: 20px 0 16px 16px;
    background: #eee;
    margin-bottom: 20px
}

.p-component-usercenter > .recharge > .recharge-con1 a:link, .p-component-usercenter > .recharge > .recharge-con1 a:visited {
    color: #fff
}

.p-component-usercenter > .recharge > .recharge-con1 > .sum > h5 {
    font-weight: bold;
    margin-top: 0
}

.p-component-usercenter > .recharge > .recharge-con1 > .sum > ul {
    margin: 0;
    padding-bottom: 15px
}

.p-component-usercenter > .recharge > .recharge-con1 > .sum > ul > li {
    position: relative;
    float: left;
    width: 120px;
    height: 36px;
    *height: 34px;
    margin: 0 15px 5px 0;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    cursor: pointer
}

.p-component-usercenter > .recharge > .recharge-con1 > .sum > ul > li > input {
    width: 70px;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    text-align: center
}

.p-component-usercenter > .recharge > .recharge-con1 > .sum > ul > li > input:focus {
    outline: none
}

.p-component-usercenter > .recharge > .recharge-con1 > .sum > ul > li.cur {
    border: 2px solid #64a131;
    background: #f5ffed;
    line-height: 32px;
    *height: 32px;
    *width: 128px
}

.p-component-usercenter > .recharge > .recharge-con1 > .gift > h5 {
    font-weight: bold;
    margin-top: 0
}

.p-component-usercenter > .recharge > .recharge-con1 > .gift > ul {
    margin: 0;
    *padding-bottom: 20px
}

.p-component-usercenter > .recharge > .recharge-con1 > .gift > ul > li {
    float: left;
    width: 356px;
    *width: 346px;
    padding: 5px;
    margin-right: 16px;
    margin-bottom: 16px;
    background: #fff;
    color: #555
}

.p-component-usercenter > .recharge > .recharge-con1 > .gift > ul > li > h5 {
    margin: 0 0 5px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap
}

.p-component-usercenter > .recharge > .recharge-con1 > .gift > ul > li > dl {
    margin: 0
}

.p-component-usercenter > .recharge > .recharge-con1 > .gift > ul > li > dl > dt {
    float: left;
    width: 125px;
    height: 125px;
    overflow: hidden
}

.p-component-usercenter > .recharge > .recharge-con1 > .gift > ul > li > dl > dt > img {
    width: 100%;
    height: 100%
}

.p-component-usercenter > .recharge > .recharge-con1 > .gift > ul > li > dl > dd {
    float: right;
    width: 210px
}

.p-component-usercenter > .recharge > .recharge-con1 > .gift > ul > li > dl > dd > h6 {
    padding-left: 0;
    color: inherit;
    line-height: 18px;
    margin-bottom: 5px;
    font-size: 14px
}

.p-component-usercenter > .recharge > .recharge-con1 > .gift > ul > li > dl > dd > span {
    display: block;
    margin-bottom: 5px
}

.p-component-usercenter > .recharge > .recharge-con1 > .btn {
    min-width: 100px;
    text-align: center;
    border-radius: 3px;
    *height: 32px;
    *line-height: 1
}

.p-component-usercenter > .recharge > .recharge-con2 {
    padding-top: 10px;
    padding-bottom: 30px
}

.p-component-usercenter > .recharge > .recharge-con2 .formitem {
    width: 100%;
    height: 30px !important;
    line-height: 30px;
    margin: 0 0 10px
}

.p-component-usercenter > .recharge > .recharge-con2 .formitem > .inpText {
    float: left;
    width: 300px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 0 15px 0 0;
    border: 1px solid #ddd;
    color: #555;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px
}

.p-component-usercenter > .recharge > .recharge-con2 .formitem > input.inpText:focus {
    border-color: #64a131;
    *border-color: #ddd;
    border-width: 1px;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.025), 0 0 8px rgba(100, 161, 49, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.025), 0 0 8px rgba(100, 161, 49, 0.6)
}

.p-component-usercenter > .recharge > .recharge-con2 .formitem img {
    width: 84px;
    height: 28px;
    line-height: 28px
}

.p-component-usercenter > .recharge > .recharge-con2 .formitem > input.hasError, .p-component-usercenter > .recharge > .recharge-con2 .formitem > .hasError {
    border-color: #f53030;
    color: #f53030
}

.p-component-usercenter > .recharge > .recharge-con2 .formitem > button.btn-comfirm {
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    *padding-top: 3px;
    margin-left: 0;
    margin-bottom: 55px;
    border-radius: 3px
}

.p-component-usercenter > .recharge > .recharge-con3 > table {
    color: #555;
    font-size: 14px
}

.p-component-usercenter > .recharge > .recharge-con3 > table th {
    color: #999
}

.p-component-usercenter > .recharge > .recharge-con3 > table th p.icon-bg {
    width: 20px;
    height: 20px;
    background: url("http://project/images/common/integrate-icons.png") no-repeat -433px -54px;
    cursor: pointer;
    margin: 0 auto
}

.p-component-usercenter > .recharge > .recharge-con3 > table th p.icon-bg.actived {
    background-position: -433px 0
}

.p-component-usercenter > .recharge > .recharge-con3 > table .apply {
    color: #64a131
}

.p-component-usercenter > .recharge > .recharge-con3 > .btn {
    min-width: 100px;
    text-align: center;
    border-radius: 3px;
    *height: 32px;
    *line-height: 1
}

.p-component-usercenter > .recharge > .recharge-con3 .table > thead > tr > th, .p-component-usercenter > .recharge > .recharge-con3 .table > tbody > tr > th, .p-component-usercenter > .recharge > .recharge-con3 .table > tfoot > tr > th, .p-component-usercenter > .recharge > .recharge-con3 .table > thead > tr > td, .p-component-usercenter > .recharge > .recharge-con3 .table > tbody > tr > td, .p-component-usercenter > .recharge > .recharge-con3 .table > tfoot > tr > td {
    padding: 15px 10px;
    text-align: center
}

.p-component-usercenter > .recharge > .recharge-rules {
    color: #555
}

.p-component-usercenter > .recharge > .recharge-rules > h5 {
    font-weight: bold;
    margin: 0 0 5px
}

.p-component-usercenter > .recharge > .recharge-rules > ul {
    margin-bottom: 0
}

.p-component-usercenter > .recharge > .recharge-rules > ul > li {
    padding-left: 20px;
    margin-bottom: 5px;
    line-height: 20px
}

.p-component-usercenter > .recharge > .recharge-rules > ul > li > span {
    display: inline-block;
    text-indent: -20px
}

.fix-card-goverment {
    width: 100px;
    height: 135px;
    background-image: url(../images/common/wgdjp.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    z-index: 10000
}

.card-goverment {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 0 10px;
    text-align: center
}

.card-goverment > img {
    height: 100%;
    width: auto
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        width: 100%;
        height: 100%
    }

    .p-component-banner .slidebtn > li {
        width: 16px;
        height: 16px
    }

    .p-component-banner {
        height: 320px
    }

    .p-component-banner .frame .slidee > li > a {
        background-size: auto 100%
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .p-component-banner {
        height: 240px
    }

    .p-component-banner .frame .slidee > li > a {
        background-size: auto 100%
    }

    .p-component-banner .slidebtn {
        bottom: 6px
    }

    .p-component-banner .slidebtn > li {
        width: 12px;
        margin: 0 6px;
        height: 12px
    }

    .p-component-order {
        width: 98%;
        padding-bottom: 0;
        padding-top: 30px
    }

    .p-component-order .order-item {
        margin: 0
    }

    .p-component-order .order-item .order-item-addresslist > li > .tag {
        width: 100px;
        padding: 0 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }

    .p-component-order .order-item .order-item-addresslist > li > .pull-left {
        max-width: 450px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }

    .p-component-order .order-item .order-item-cartlist > li > dl > dd {
        width: 235px
    }

    .p-component-order .order-item > .order-item-cartlist {
        width: 330px
    }

    .p-component-order .order-item.order-item-discount > p > a {
        margin-left: 20px
    }
}

.pro_list_pos {
    position: absolute;
    left: 0;
    top: 0
}

.pro_list_pos span {
    font-size: 14px;
    line-height: 1;
    padding: 6px 5px;
    color: #fff;
    margin-right: 1px;
    float: left;
    display: inline-block
}

.pro_list_span {
    background: #ff5353
}

.pro_list_pos .qh {
    background: #999
}

.pro_list_span.sm {
    font-size: 12px
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .p-component-banner {
        height: 320px
    }

    .p-component-banner .frame .slidee > li > a {
        background-size: auto 100%
    }
}