<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>暂无客服</title>
    <style type="text/css">
        .btnIndex{
            /*宽度，高度，取消边框，取消轮廓，背景颜色，边框倒角，文字颜色，文字大小，box-sizing*/
            width:145px;
            height:40px;
            border:none;
            outline:none;
            background:#f23030;
            border-radius:5px;
            color:#fff;
            font-size:18px;
            box-sizing:border-box;
            text-decoration:none;
        }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <h2>暂无客服空闲，请稍候</h2>
        <input type="button" value="返回首页" class="btnIndex" onclick="javascrtpt:window.location.href='/index/'">
    </div> 
    
</body>
</html>